  body {margin:0; padding:5px; font:11px Verdana,Arial; color:#FFFFFF;}
a { color:#FFCC00;}
#slideshow {list-style:none; color:#fff}
#slideshow span {display:none}
#wrapper {width:506px; margin:50px auto; display:none}
#wrapper * {margin:0; padding:0}
#fullsize {position:relative; width:500px; height:300px; padding:2px; border:5px solid #f47a20; border-radius: 6px;background:#000;overflow: hidden;}
#information {font-family: '微软雅黑';position:absolute; bottom:0; width:500px; height:0; background:#000; color:#edb02b; overflow:hidden; z-index:200; opacity:.7; filter:alpha(opacity=70);text-align: left}
#information h3 {padding:4px 8px 3px; font-size:14px}
#information p {padding:0 8px 8px}
#image {width:500px}
#image img {position:absolute; z-index:25; width:auto;left: 2px}
.imgnav {position:absolute; width:25%; height:306px; cursor:pointer; z-index:150}
#imgprev {left:0; background:url(../pic/showerPic/images/left.gif) left center no-repeat}
#imgnext {right:0; background:url(../pic/showerPic/images/right.gif) right center no-repeat}

#thumbnails {margin-top:15px}
#slideleft {float:left; width:20px; height:81px; background:url(../pic/showerPic/images/scroll-left.gif) center center no-repeat; background-color:#222;}
#slideleft:hover {background-color:#f47a20}
#slideright {float:right; width:20px; height:81px; background:#222 url(../pic/showerPic/images/scroll-right.gif) center center no-repeat}
#slideright:hover {background-color:#f47a20}
#slidearea {float:left; position:relative; width:455px; margin-left:5px; height:100px; overflow:hidden;}
#slider {position:absolute; left:0; height:100px;}
#slider img {cursor:pointer; border:3px solid #f47a20;border-radius: 6px; padding:2px;height:75px;}